= image_tag 'ips-logo-white', class: 'logo'

.form.row
  .medium-6.medium-centered.columns
    = form_for :user, url: session_path(:user) do |f|
      = f.text_field :email, label: false, placeholder: 'Email', autofocus: true
      = f.password_field :password, label: false, placeholder: 'Password'
      = f.check_box :remember_me, class: 'remember'
      = f.submit 'Sign in', class: 'button'

      = link_to "Forgot your password?", new_password_path(:user), class: 'forgot'

%ul.sub-nav
  %li
    = link_to 'Legal info', '/PPI Software Services Agreement.doc'
  %li
    = mail_to 'support@pieoneers.com', 'Support'
