= f.fields_for :lenders, lender do |lf|
  = lf.fields_for :options, option do |of|
    - option.categories.each_with_index do |category, i|
      .category
        %h3
          = category.full_name

        - products = @products.select { |p| p.category == category.name }
        = of.collection_check_boxes :product_ids, products, :id, :name do |cb|
          .row.product
            .columns.clearfix
              .left
                = cb.label do
                  = cb.object.name
              .right
                = cb.check_box

        - policies = @policies.select { |p| p.category == category.name && p.loan_type == option.loan_type }
        - policies.group_by(&:name).each do |name, policies|
          - insurance_rates = policies.map { |p| p.insurance_rates.map(&:term) }.inject(:&).select { |term| term <= option.term }
          - insurance_terms = option.insurance_terms
          - insurance_term = insurance_terms.detect { |t| policies.include? t.insurance_policy } || InsuranceTerm.new
          .row.product
            = of.fields_for :insurance_terms, insurance_term do |tf|
              .columns.clearfix
                .left
                  = tf.label :insurance_policy_id, name
                .right
                  = tf.check_box :insurance_policy_id, { checked: insurance_terms.include?(insurance_term), label: false, name: nil, class: 'insurance-term-checkbox' }
                  = tf.hidden_field :_destroy, value: insurance_terms.exclude?(insurance_term)
                .right
                  = tf.select :term, options_for_select(insurance_rates, insurance_term.term || option.term), { label: false }, class: 'term'
                .right
                  = tf.select :insurance_policy_id, options_for_select(policies.map { |p| [{ false => 'lease only', true => 'with residual' }[p.residual], p.id] }, insurance_term.insurance_policy_id), { label: false }, class: 'residual'
              = tf.hidden_field :category, value: category.name
        - if lender.right? && !i.zero?
          .row.rate
            .columns.clearfix
              .left Rate
              .right= category.interest_rate
          .row.payment
            .columns.clearfix
              .left Payment
              .right= category.payment.format
